<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ページが見つかりませんでした。</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <pre>
    404 Not Found
    お探しのページが見つかりませんでした。

    以下のリンクから再度ログインをお願いします。
    </pre>
    <a th:href="@{/}">ログイン画面へ移動</a>
</body>
</html>